<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Frontend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">MOSS</a>
        </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>
    </nav>
    <div class='jumbotron jumbotron-fluid'>
      <div class='container'>
        <h1 class='display-3 white'>MOSS</h1>
        <h2><small class='grey'>Prototype Web Interface for Displaying JSON Data</small></h2>
      </div>
    </div>
  </head>
  <body>
    <div class="container-fluid">
      <div id="content">
        <form method="POST" action="/task">
          {% csrf_token %}
          <div class="container">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Path to task directory" name="task_directory_path">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </form>
        <br/>
        <form method="POST" action="/retrieve">
          {% csrf_token %}
          <div class="container">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Path to JSON output file" name="json_file_name">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </form>
      </div>
    </div>
    <div class="panel-group">
      <div class="container">
        <hr>
        <div class="list-group">
          <a class="list-group-item disabled">Completed Tasks</a>
          {% for file in output_files %}
            <form action="/retrieve" method="POST">
              {% csrf_token %}
              <input type="hidden" class="form-control" name="json_file_name" value="{{ file.file_name }}"/>
              {% if file.result == "success" %}
                <a href="#" class="list-group-item list-group-item-success" onclick="this.parentNode.submit()"><strong>{{ file.file_name }}</strong><strong class="pull-right">{{ file.result }}</strong></a>
              {% elif file.result == "fail" %}
                <a href="#" class="list-group-item list-group-item-danger" onclick="this.parentNode.submit()"><strong>{{ file.file_name }}</strong><strong class="pull-right">{{ file.result }}</strong></a>
              {% else %}
                <a href="#" class="list-group-item list-group-item-info" onclick="this.parentNode.submit()"><strong>{{ file.file_name }}</strong><strong class="pull-right">{{ file.result }}</strong></a>
              {% endif %}
            </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>